{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Mon Profil</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 bg-light p-5 rounded shadow">
                <h2 class="text-center">Détails du Profil</h2>
                <ul class="list-group mb-4">
                    <li class="list-group-item"><strong>Nom:</strong> {{ user.nom }}</li>
                    <li class="list-group-item"><strong>Prénom:</strong> {{ user.prenom }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                </ul>
                <div class="text-center">
                    <form method="POST" action="{{ path('app_delete_account') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_account') }}">
        <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
