{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Profil
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Profil</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 bg-white p-4 m-0 text-primary">
                <table class="table">
                    <tbody>
                        {% if user is not null %}
                            <tr>
                                <th>Email :</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Nom :</th>
                                <td>{{ user.nom }}</td>
                            </tr>
                            <tr>
                                <th>Prénom :</th>
                                <td>{{ user.prenom }}</td>
                            </tr>
                            <tr>
                                <th>Date d'inscription :</th>
                                <td>{{ user.dateEnvoi | date('d-m-Y H:i:s') }}</td>
                            </tr>
                            <tr>
                                <th>Rôle :</th>
                                <td>
                                    {% if 'ROLE_MOD' in user.roles %}
                                        Modérateur
                                    {% else %}
                                        Utilisateur normal
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <form action="{{ path('app_delete_account') }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
                                        <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">Utilisateur non connecté</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
