{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Accueil
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
            Accueil
        </h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 bg-type p-4 m-0 text-primary">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="fw-bold text-primary">
                                <th scope="col" class="text-primary">Nom</th>
                                <th scope="col" class="text-primary">Message</th>
                                <th scope="col" class="text-primary">Email</th>
                                <th scope="col" class="text-primary">Date d'envoi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-primary">
                                <td class="text-primary">{{ contact.nom | capitalize }}</td>
                                <td class="text-primary">{{ contact.message | lower }}</td>
                                <td class="text-primary">{{ contact.email | lower }}</td>
                                <td class="text-primary">{{ contact.dateEnvoi | date("d-m-Y à H:i:s") }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
